body {
  background: #3e444a;
  color: white;
  font-family: Helvetica, sans-serif;
  margin: 0;
}

main {
  padding-top: 20px;
}

#logo {
  width: max(100px, 18vw);
  object-fit: scale-down;
  padding: 0.4rem;
  height: 35px;
  margin-top: 5px;
  vertical-align: middle;
}

h1 {
  color: white;
  font-size: min(5vw, 2.3em);
}

nav {
  width: 50%;
  max-width: 400x;
}
header {
  width: 100%;
  position: fixed;
  overflow: hidden;
  background-color: #bb0606;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  height: 30px;
  padding-bottom: 5px;
}
main {
  padding-top: 50px;
}
h1 {
  font-size: 30px;
  margin: 0 auto;
  text-align: center;
}
nav > ul {
  display: flex;
  justify-content: space-evenly;
  vertical-align: middle;

  align-items: center;
  margin-block: 0;
  padding-inline-start: 0;
  height: 100%;
}
nav > ul > li {
  display: block;
  margin: 0 0.2rem;
  padding: 0.2rem;
  border-left: 2px solid white;
}

h2 {
  border-bottom: 2px solid white;
  text-align: center;
}
ul {
  list-style: none;
}

section {
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
  max-width: 600px;
}

button {
  width: 100px;
  height: 50px;
  margin: 10px auto;
  border: 3px solid black;
  display: block;
}

#personaje {
  max-width: 200px;
  min-width: 100px;
}

fieldset {
  margin-top: 13px;
}

.i-info,
.i-input {
}

.i-info {
  width: 13.8%;
  text-align: right;
  display: inline-block;
}
.i-input {
  width: 50%;
  text-align: left;
}

form {
  padding-top: 20px;
}
li > a {
  color: inherit;
  text-decoration: none;
}
nav > ul > li:hover {
  background-color: #561907;
  cursor: pointer;
}
